-# this file is app/vies/movies/index.html.haml

%h1 All Movies

= form_tag movies_path, :method => :get do
  Include:
  - @all_ratings.each do |rating|
    = rating
    = check_box_tag "ratings[#{rating}]"
  = submit_tag 'Refresh'
  
%table#movies
  %thead
    %tr
      %th
        %a#title_header{href: movies_path(title: 'title_header'), class: "#{@hilite_title}"} Movie Title
      %th Rating
      %th
        %a#release_date_header{href: movies_path(title: 'release_date_header'), class: "#{@hilite_release_date}"} Release Date
      %th More Info
      %th Edit
      %th Delete?
  %tbody
    - @movies.each do |movie|
      %tr 
        %td=movie.title
        %td=movie.rating
        %td=movie.release_date
        %td=link_to "More about #{movie.title}", movie_path(movie)
        %td=link_to 'Edit info', edit_movie_path(movie)
        %td=link_to 'Delete', movie_path(movie), :method => :delete, :data => {:confirm => 'Are you sure?'}

= link_to 'Add new movie ', new_movie_path        
